/* Footer.css */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    line-height: 30px;
    text-align: center;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: #fca311; /* Change to your desired hover color */
    color: #fff;
  }
  
  .contact-details {
    text-align: left;
  }
  
  .footer-text {
    margin: 0;
    font-size: 0.9rem;
  }
  