/* HomePage.css */
.home-page {
  font-family: Arial, sans-serif;
  color: #333;
}

.header {
  background-image: url('https://media.istockphoto.com/id/1124507971/photo/abstract-painted-art-background.webp?b=1&s=170667a&w=0&k=20&c=4GUyvHBe59_5_r37NZ4M1bRyTwrY19viRXgx8Mh-J5Q=');
  background-size: cover; /* Scale the image to cover the entire header */
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
  width: 100%;
  
  
  
  color: #000000;
  padding: 2rem;
  text-align: center;
}

.header h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
  font-weight: bolder;
  text-shadow: 1px 1px;
}

.header p {
  font-size: 1.2rem;
}

.main {
  padding: 2rem;
}

.section-one,
.section-two {
  padding: 2rem;
  
  margin-bottom: 2rem;
}
/* ThreeBoxes.css */
.box-container {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 256px;
  height: 150px;
justify-content: space-evenly;
 
}
.box-img{
  height: 150px;
  width: 150px;
}


.section-one h2,
.section-two h2 {
  margin-bottom: 1rem;
}

.footer {
  background-color: #0e0e0e;
  color: #fff;
  text-align: center;
  padding: 1rem;
}