/* Navbar.css */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  .nav-links {

    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .nav-links li {
    float: right;
    margin: 0 1rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #555;
  }
  